<div class="ui menu navbar">
  <div class="header item brand">
    <%= link_to root_path do %>
    <div class="btn-home">

      <div class="btn-ghost-left">PEELS</div>
      <div class="btn-ghost-right">RADIO</div>

    </div>
    <% end %>
  </div>
  <div class="item aligned right">
    <%= link_to life_path do %>
      <div class="header item ">
        John Peel
      </div>
    <% end %>

    <nav role="navigation">
      <ul>
        <li><a href="#">Timeline</a>
          <ul class="dropdown">
            <li>
              <%= link_to sixties_path do %>
              <div class="header item ">
              60's
              </div>
            <% end %>
            </li>
            <li>
            <%= link_to seventies_path do %>
              <div class="header item ">
                70-74
              </div>
            <% end %>
            </li>
            <li>
            <%= link_to lateseventies_path do %>
              <div class="header item ">
                75-79
              </div>
            <% end %>
            </li>
            <li>
            <%= link_to eighties_path do %>
              <div class="header item ">
                80-84
              </div>
            <% end %>
            </li>
            <li>
            <%= link_to lateeighties_path do %>
              <div class="header item ">
                85-89
              </div>
            <% end %>
            </li>
            <li>
            <%= link_to nineties_path do %>
              <div class="header item ">
                90's
              </div>
            <% end %>
            </li>
            <li>
            <%= link_to oos_path do %>
              <div class="header item ">
                00's
              </div>
            <% end %>
            </li>
          </ul>
        </li>
      </ul>
    </nav>

<!-- TODO DROPDOWN -->

  </div>
  <% if user_signed_in? %>
    <div class="header item ">
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
    </div>
  <% else %>
    <div class="header item ">
    <%= link_to('Login', new_user_session_path) %>
    </div>
  <% end %>
</div>
