<div class="ui menu navbar">
  <div class="header item brand">
    <%= link_to root_path do %>
    <div class="btn-home">

      <div class="btn-ghost-left">PEELS</div>
      <div class="btn-ghost-right">RADIO</div>

    </div>
    <% end %>
  </div>
  <div class="item aligned right">
    <%= link_to life_path do %>
      <div class="header item ">
        Tribute
      </div>
    <% end %>
    <%= link_to explore_path do %>
      <div class="header item ">
        Genres
      </div>
    <% end %>
  </div>

  <% if user_signed_in? %>
    <div class="header item ">
    <%= link_to('Mypeels', mypeels_path) %>
    </div>
    <div class="header item ">
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
    </div>
  <% else %>
    <div class="header item login-btn ">
    <%= link_to('Login', new_user_session_path) %>
    </div>
  <% end %>
</div>
