<div class="ui container fluid banner ">
  <div class="ui container pitch right aligned">
    <h1><strong>Early recordings</strong><br> by the <strong> greatest bands</strong></h1>
    <p>As featured on John Peel radio show<br>from 1968 to 2004</p>
  </div>
  <div class="link">
    <%= link_to sessions_path do %>
      <div class="btn btn-ghost pulse aligned center" >Browse</div>
    <% end %>
  </div>
</div>
<div class="ui container">
  <div class="ui header center aligned text feats">
      <h2>Original Studio sessions</h2>
      <h3>Over 1000 + recorded sessions featuring the likes of </h3>
      <p>Bob Marley, David Bowie, Joy Division, Pet Shop Boys, Queen, The Fugees <br></br>
      <%= link_to sessions_path do %>
        <a class="btn btn-ghost aligned center" href="#">All sessions</a>
      <% end %>
      </p>
    </div>
  </div>
</div>
<div class="ui container">
  <div class="ui fluid card">
    <div class="image">
      <%= image_tag ("joy_division-band.jpg") %>
      <div class="content">
        <a class="header">Joy Division</a>
      </div>
    </div>
  </div>
  <div class="ui fluid card">
    <div class="image">
      <%= image_tag ("queen.jpg") %>
      <div class="content">
        <a class="header">Queen</a>
      </div>
    </div>
  </div>
  <div class="ui fluid card">
    <div class="image">
      <%= image_tag ("the-police.jpeg") %>
      <div class="content">
        <a class="header">Police</a>
      </div>
    </div>
  </div>
  <div class="ui fluid card">
    <div class="image">
      <%= image_tag ("fugees.jpg") %>
      <div class="content">
        <a class="header">The Fugees</a>
      </div>
    </div>
  </div>
  <div class="ui fluid card">
    <div class="image">
      <div class="content">
        <a class="header">Dig deeper</a>
      </div>
    </div>
  </div>
</div>
