
<div class="ui container">
  <div class="ui image fluid">
    <%= image_tag("peel-shelf") %>
  </div>
  <h3 class="header">A life</h3>
  <h5 class="header">
John Peel was an English disc jockey, radio presenter and journalist. He was the longest-serving of the original BBC Radio 1 DJ’s broadcasting regularly from 1967 until his death in 2004. He was known for his eclectic taste in music and his honest and warm broadcasting style.
  </h5>
  <h5 class="header">
    It has been said that John Peel was one of the most influential people in British music. Through his brilliant career with Radio 1, a musical taste that defined a culture and his hugely popular Radio 4 show Home Truths, John reached out to an audience as diverse as his record collection. He was renowned for encouraging new music from unlikely sources and was uniquely talented and treasured figure in British broadcasting.
  </h5>
  <h5 class="header">
    John lived with his family in Great Finborough, a small village near Stowmarket, for over 30 years and his wife Sheila still lives in the family home. He involved himself in local life and was a highly respected member of the local community.
  </h5>
</div>
<div class="ui container">
  <div class="ui grid container stackable lifepics">
    <div class="row">
      <div class="eight wide column stackable">
        <%= image_tag("peel-graf") %>
      </div>
      <div class="eight wide column stackable">
        <%= image_tag("peel-young") %>
      </div>
    </div>
    <div class="row">
      <div class="eight wide column stackable">
        <%= image_tag("peel-headphones") %>
      </div>
      <div class="eight wide column stackable">
        <%= image_tag("peel-home") %>
      </div>
    </div>
  </div>
</div>
<div class="ui container">
  <h3 class="header">
    The Peel sessions
  </h3>
  <h5 class="header">
    <p>source peel.fandom.com</p>
    <br>
    A feature of Peel's BBC Radio 1 shows were the famous John Peel Sessions, which usually consisted of four pieces of music pre-recorded at the BBC's studios in Maida Vale. The sessions originally came about due to restrictions imposed on the BBC by the Musicians' Union and Phonographic Performance Limited which represented the record companies dominated by the EMI cartel. Because of these restrictions the BBC had been forced to hire bands and orchestras to render cover versions of recorded music. The theory behind this device was that it would create employment and force people to buy records and not listen to them free of charge on the air. One of the reasons why all of the offshore broadcasting stations of the 1960s were called "pirates" was because they operated outside of British laws and were not bound by the needle time restriction on the number of records they could play on the air.
  </h5>
  <h5 class="header">
    The BBC employed its own house bands and orchestras and it also engaged outside bands to record exclusive tracks for its programmes in BBC studios. This was the reason why Peel was able to use "session men" in his own programmes. Sessions were usually four tracks recorded and mixed in a single day; as such they often had a rough and ready, demo-like feel, somewhere between a live performance and a finished recording. During the 37 years Peel remained on BBC Radio 1, over 4000 sessions were recorded by over 2000 artists. Many classic Peel Sessions have been released on record, particularly by the Strange Fruit label.
  </h5>

</div>

